.btn {
  cursor: pointer;
  font-size: 30px;
  color: white;
  /* text-shadow: 2px 2px 4px #0000008f; */
  background: rgba(0, 0, 0, 0.2);
  
  backdrop-filter: blur(5.7px);
  -webkit-backdrop-filter: blur(5.7px);
  border: 1px solid #ffffff5b;
  transition: all 1s ease;
  width: 50px;
  height: 50px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin-right: 15px;
  margin-left: 15px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.5);
}

.btn:hover {
  /* color: rgb(200, 255, 0); */
  /* color:#ec6408; */
  background: rgba(255, 255, 255, 0.185);
  transition: all 0.3s ease;
  box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.5);
  text-shadow: 2px 2px 4px #0000008f;

  /* transform: translate3d(0px,-10px,0px); */
}

.btnHide {
  /* border: 1px solid rgb(81, 255, 0); */
  /* display: none; */
  font-size: 30px;
  color: white;
  /* text-shadow: 2px 2px 4px #000000; */
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5.7px);
  -webkit-backdrop-filter: blur(5.7px);
  border: 1px solid #ffffff5b;
  transition: all 0.3s ease;
  width: 50px;
  height: 50px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin-right: 15px;
  margin-left: 15px;
  pointer-events: none; /* disable mouse events */
}

.cardsStyle {
  /* border: 1px solid rgb(81, 255, 0); */
  /* display:flex; */
}

/* .imgBtn{
    border: 1px solid rgb(81, 255, 0);
    width: 60px;
    cursor: pointer;
} */

.noCountries {
  /* border: 1px solid rgb(81, 255, 0); */

  flex-direction: column;
  font-size: 20px;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

.Countries {
  /* border: 1px solid rgb(81, 255, 0); */

  flex-direction: column;
  font-size: 20px;
  color: white;
  /* text-shadow: 2px 2px 4px #000000; */
}
.btnDiv {
  /* border: 1px solid rgb(81, 255, 0); */

  display: inline-block;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page1 {
  text-shadow: 2px 2px 4px #0000008e;
}
