

.nav {
    /* border: 1px solid rgb(136, 255, 0); */
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../../img/Detail.png);
    background-attachment: fixed;
}

.flag {
    width: 25%;
    height: 25%;
    overflow: hidden;
    border-radius: 5px;
    transition: all 0.8s ease-in-out;
}

.flag:hover {
  transform: scale(2.5) translate(0px, 50px);
  transition: all 0.8s ease-in-out;
  box-shadow: #0000008a 0px 0px 15px;
}



.CountryDetail{
    /* border: 1px solid rgb(136, 255, 0); */
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-size: 20px;
    color:white;
    text-shadow: 2px 2px 4px #000000;

}

.activities{
    /* border: 1px solid rgb(136, 255, 0); */
    display:flex;
    justify-content: space-around;
    width: 100%;
    height:100%;
    background-color:#ff7300;
    color:white;
    /* border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; */
    border-radius: 5px;
    font-size: 20px;
    padding: 1px;
    margin-bottom: 2px;
}

.activities:hover{
    background-color:#fa7f2c;
    cursor: pointer;
}

.activitiesDiv{
    /* border: 1px solid rgb(136, 255, 0); */
    overflow: hidden;
    background-color:#000000af;
    border: 2px solid #EC6408;
    display:flex;
    flex-direction: column;
    /* background-color:transparent; */
    color:white;
    width: 50%;
    height:50%;
    margin-bottom: 10%;
    border-radius: 10px;
    font-size: 18px;
    padding: 1%;
    transition: all 0.8s ease-in-out;
}

.activitiesDiv:hover{
    transition: all 0.8s ease-in-out;
    transform: scale(1.2) translate(10px, -200px);
    transition: all 0.8s ease-in-out;
    box-shadow: #0000008a 0px 0px 15px;
    background-color:#313131;
    padding: 4%;
}

.bar{
    /* border-bottom: 2px solid #EC6408; */
    border-top: 1px solid #EC6408;
    display:flex;
    justify-content: space-around;
    color:white;
}


.dataDiv{
    /* border: 1px solid rgb(136, 255, 0); */
align-items: center;
    display:flex;
    flex-direction: column;
}

.spanText{
    /* border: 1px solid rgb(136, 255, 0); */
    width:25%;
    height:25%;
    font-size: 20px;
    padding: 10px 0px 10px 0px;
    /* border: transparent 2px outset; */
}

.subDiv{
    /* border: 1px solid rgb(136, 255, 0); */
    height:10vh;
}