.home {
  background-image: url(../../img/11.png);
  /* background-color:#ffffff; */
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.filters {
  align-items: center;
  display: flex;
  height: 107vh;
  /* width:99.8%; */
  flex-direction: column;
  /* display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 2%;
  margin-bottom: 2%;
  grid-gap: 1rem;
  justify-content: center;
  margin: 0 auto; */
}

.One {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: auto;
  color: white;
  text-shadow: 2px 2px 4px #00000098;
  font-size: 250%;
  font-weight: lighter;
  font-family: Helvetica, Arial, sans-serif;
  cursor: default;
  margin-top: 50px;
}

::-webkit-scrollbar {
  display: none;
}
