.background {
  /* background-image: url(../../img/Nav.jpg); */
}

.nav {
  /* border: 1px solid burlywood; */
  /* background-color: #363636; */
  /* background-color: #0000006c; */
  /* top: 0px;
  left: 0px; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 120px;
  /* padding-left: 300px;
  padding-right: 300px; */
  /* position: fixed; */
  /* color:white; */
  /* border-bottom: 3px solid #ec6408; */
  /* From https://css.glass */
background: rgba(0, 0, 0, 0.2);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.5);
-webkit-box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.5);
-moz-box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.5);
transition: all 1s ease;
}

.nav:hover {
  background: rgba(37, 37, 37, 0.103);

  box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.5);
-webkit-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.5);
-moz-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.5);
transition: all 0.8s ease;
}

.textAndLogo {
  /* border: 1px solid burlywood; */
  /* display: flex;
  align-items: center; */
}

.navImg {
  /* border: 1px solid burlywood; */
  cursor: pointer;
  height: 130px;
  opacity: 0.9;
  filter: drop-shadow(1px 1px 2px #00000049);
  display: flex;
  transition: all 1s ease-in-out;
  /* transition: all 0.5s ease; */
}
.navImg:hover {
  opacity: 1;
  transition: all 0.5s ease-in-out;
  transform: translate3d(0px, -1px, 0px);
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.37));
  /* transition: all 0.5s ease; */
}

.navOptions {
  /* border: 1px solid burlywood; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.option {
  /* border: 1px solid burlywood; */
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 400;
  padding: 0px 20px;
  height: 50px;
  color: rgb(247, 247, 247);
  cursor: pointer;
  transition: all 1s ease-in-out;
  /* opacity: 0; */
}

.option:hover {
  /* transform: translate3d(0px, -1px, 0px); */
  text-shadow: 2px 2px 4px #000000ad;
  color: white;
  opacity: 1;
  transition: all 0.3s ease-in-out;
  /* text-decoration: underline; */
}

